.spider{
    background-color: #282c34;
    height: 15rem;
    border-radius: 1rem;
    margin-left: 5rem;
    padding: 0 1rem 0 1rem;
    width: 20rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;

}

@media (min-width: 900px) and (max-width: 1270px){
  .spider {
      width: 33% !important;
      height: 12rem !important;
      margin-left: 1rem!important;
      margin-top: 0 !important;
  }
    .pos {
    margin-top: -1.5rem !important;
    height: 13rem ;
}
}

.pos {
    margin-top: 0;
    height: 12rem ;
}