.contenant {
    height: 150px;
    width: 320px;
    background-color: #f8f8f8;
    border-radius: 1rem;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

@media (min-width: 900px) and (max-width: 1270px) {

    .t {
        margin-top: 1.2rem !important;
        color: #6b8bfa;
        width: 30px !important;
        height: 30px !important;
    }
}

.contenanticon {
    background-color: #e3edf6;
    width: 4rem;
    height: 4rem;
    padding: 0 0 0.3rem 0;
    border-radius: 0.7rem;
    margin: auto;

}

.test {
    margin: 3rem 5rem 0 0;
}

.t {
    margin-top: 0.9rem;
    color: #6b8bfa;
    width: 40px;
    height: 40px;
}