
.fond {
    width: 20rem;
    height: 15rem;
    margin-left: 11%;
    background-color: #e31111;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

@media (min-width: 900px) and (max-width: 1270px) {
    .fond {
        width: 33% !important;
        height: 12rem;
    }
    .line {
        margin-top: 2.8rem !important;
    }
}

.line {
    margin-top: 5.8rem;
}

